<a href="https://colab.research.google.com/github/jayaemekar/CSCI-611-AppiledMachineLearning/blob/main/JE_Exam_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Libraries

In [ ]:
# linear algebra
import numpy as np 

# data processing
import pandas as pd 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# data preprocessing
from sklearn.preprocessing import LabelEncoder

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier

#Feature Scaling
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
# Model evaluation
from sklearn.model_selection import cross_val_score

# Create a classification report and confusion matrix for the model.
from sklearn.metrics import classification_report, confusion_matrix

# Hyperparameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
# Remove warnings
import warnings
warnings.filterwarnings('ignore')

#SECTION 1 - DATA INTERPRETATION

##1. DATASET DIMENSIONS & TYPES
<br>a  How many exemplars are in the dataset? _______
<br>b How many total features? ________
<br>c List the unique data types? _________ _________ __________

In [ ]:
#Load the data
titanic = pd.read_csv('/content/titanic_train_exam.csv')

How many exemplars are in the dataset?

In [ ]:
#How many exemplars are in the dataset?
print ('Exemplars in the dataset are ',len(titanic))

How many total features?

In [ ]:
#How many total features?
print ('Total features in the dataset are ',titanic.shape)

List the unique data types?

In [ ]:
#List the unique data types? 
print ('Total unique data types the dataset are \n ',titanic.dtypes.unique)

##2. EXPLORE NULL VALUES

<br>a Display the first four exemplars in this dataset. Do you see any null values displayed?
<br>b Visualize the null features using a graph of your choice. Which features stand out?
<br>c For the feature with the greatest number of nulls, how many rows are affected? 
<br>d Which Passenger Class has the greatest number of null valued cabins?

Display the first four exemplars in this dataset. Do you see any null values displayed?

In [ ]:
#Display the first four exemplars in this dataset. Do you see any null values displayed?
titanic.head(4)

Yes , we can see null values in column and Age Cabin

Visualize the null features using a graph of your choice. Which features stand out?

In [ ]:
#draw a bar plot of survival by sex
sns.barplot(x="Sex", y="Survived", data=titanic)

#print percentages of females vs. males that survive
print("Percentage of females who survived:", titanic["Survived"][titanic["Sex"] == 'female'].value_counts(normalize = True)[1]*100)

print("Percentage of males who survived:", titanic["Survived"][titanic["Sex"] == 'male'].value_counts(normalize = True)[1]*100)

Visualize the null features using a graph of your choice. Which features stand out?

In [ ]:
#Visualize the null features using a graph of your choice. Which features stand out?

#Plot the Cabin column
titanic["Deck"]=titanic.Cabin.str[0]
titanic["Deck"].unique() # 0 is for null values

# count plot on single categorical variable
sns.countplot(x ='Deck', data = titanic)
 
# Show the plot
plt.show()

For the feature with the greatest number of nulls, how many rows are affected?

In [ ]:
#Below are the missing values from each column
titanic.isnull().sum()

In [ ]:
print('Cabin feature is having highest number of null values = 682')

Which Passenger Class has the greatest number of null valued cabins?

In [ ]:
sns.factorplot('Deck', col = 'Pclass', data = titanic, kind = 'count')

##TARGET CLASS - Survived

<br>a How many Survivors are in the dataset? Non-survivors? 
<br>b Compare the number of survivors to non-survivors in a labeled graph.
<br>c Expand the graph to include survivor information by gender.
<br>d Expand the graph to include survivor information by Passenger class.
<br>e Do these graphs provide a general picture of survival by gender or Pclass, if so, what?

In [ ]:
print('Survived people ', len(titanic[titanic['Survived'] ==1]))
print('Not Survived people ', len(titanic[titanic['Survived'] == 0]))

Compare the number of survivors to non-survivors in a labeled graph.

In [ ]:
#How many Survivors are in the dataset? Non-survivors?

# count plot on single categorical variable
sns.countplot(x ='Survived', data = titanic)
 
# Show the plot
plt.show()

Expand the graph to include survivor information by gender

In [ ]:
# Survival by gender 
sns.countplot(x ='Survived',hue = 'Sex', data = titanic)
plt.ylabel('Survival Probability')
plt.title('Survival Probability by Sex',fontsize=15)

Expand the graph to include survivor information by Passenger class.

In [ ]:
# Survival by Pclass 
sns.countplot(x ='Survived',hue = 'Pclass', data = titanic)
plt.ylabel('Survival Probability')
plt.title('Survival Probability by Passenger Class',fontsize=15)

In [ ]:
# Survival by gender and passenger class
graph = sns.factorplot(x = 'Pclass', y = 'Survived',kind = 'bar',hue = 'Sex', data = titanic)
graph.despine(left = True)
plt.ylabel('Survival Probability')
plt.title('Survival Probability by Sex and Passenger Class',fontsize=15)

Do these graphs provide a general picture of survival by gender or Pclass, if so, what?

Yes these graph shows that survival rate for class 1 is higher
while with gender survival rate for female is more.

Combine both of these things survival rate for females in the first class is more

## DISTRIBUTIONS

<br>a Create a visual to graph the Age distribution.
<br>b What is the min? _____ max? _____ mean? ______ and mode age? _____
<br>c Use a labeled graph of your choice to show the distribution of Fares.
<br>d Describe the full range of statistics for Fares.

Create a visual to graph the Age distribution.

In [ ]:

plt.figure(1)
age  = titanic.loc[titanic.Survived == 1, 'Age']
plt.title('The histogram of the age groups of the people that had survived')
plt.hist(age, np.arange(0,100,10))
plt.xticks(np.arange(0,100,10))


plt.figure(2)
age  = titanic.loc[titanic.Survived == 0, 'Age']
plt.title('The histogram of the age groups of the people that coudn\'t survive')
plt.hist(age, np.arange(0,100,10))
plt.xticks(np.arange(0,100,10))

What is the min? _____ max? _____ mean? ______ and mode age?

In [ ]:
# using groupby function with aggregation
# to get mean, min and max values
result = titanic.groupby('Survived').agg({'Age': ['mean', 'min', 'max']})
  
print("Mean, min, and max values of Survived grouped by Age")
print(result)

Use a labeled graph of your choice to show the distribution of Fares.

In [ ]:
#Use a labeled graph of your choice to show the distribution of Fares.

plt.subplots(figsize=(15,10))

ax=sns.kdeplot(titanic.loc[(titanic['Survived'] == 0),'Fare'],color='r',shade=True,label='Not Survived')
ax=sns.kdeplot(titanic.loc[(titanic['Survived'] == 1),'Fare'],color='b',shade=True,label='Survived' )
plt.title('Fare Distribution Survived vs Non Survived',fontsize=25)
plt.ylabel('Frequency of Passenger Survived')
plt.xlabel('Fare',fontsize=20)

Describe the full range of statistics for Fares.

In [ ]:
#Plot the Prices Paid Of Each Class
plt.scatter(titanic['Fare'], titanic['Pclass'],  color = 'purple', label='Passenger Paid')
plt.ylabel('Class')
plt.xlabel('Price / Fare')
plt.title('Price Of Each Class')
plt.legend()
plt.show()

#SECTION 2 – PREPROCESSING the DATA

##NULL VALUES

a For any feature with > 50% null values, drop the feature from the dataset. What, if any,
feature(s) did you drop? 

Yes I am going to drop the Cabin and Deck feature from the data set.

In [ ]:
#For any feature with > 50% null values, drop the feature from the dataset. 
#Percentage missing values from titanic data for each table
total = titanic.isnull().sum().sort_values(ascending=False)
percent = titanic.isnull().sum()/titanic.isnull().count()*100
missing_data = pd.concat([total, percent], axis=1, keys=['Total', '%'])
missing_data.head(15)

From above data we can analyze that

The Embarked feature has only 2 missing values, which can easily be filled.
1. 'Age' feature, which has 175 missing values.It will be much more tricky, to deal with the Age feature.
2. The ‘Cabin’ feature needs further investigation, but it looks like that we might want to drop it from the dataset, since 77 % of it are missing.

Also, Looking at the titanic data The features contribute to a high survival rate are everything except ‘PassengerId’, ‘Ticket’ and ‘Name’.

For any feature with < 10% null values, remove the associated exemplars from the dataset.
How many, if any, rows did you remove?

<br> Yes. I removed the rows where less than 10% null values are there

Use a seaborn boxplot (or other labeled graph of choice) to visualize the Age distribution per
Passenger class. What do you observe about the Age/Pclass relationship?

In [ ]:
# Survival by gender and passenger class
for x in [titanic]:
    x['Age_bin']=np.nan
    for i in range(8,0,-1):
        x.loc[ x['Age'] <= i*10, 'Age_bin'] = i
titanic[["Age" , "Age_bin"]].head(5)

In [ ]:
sns.factorplot('Age_bin','Survived', col='Pclass', row = 'Sex',kind="bar", data=titanic)

Apply imputation (based on Passenger class mean) to fill empty age values. Show your code.
Verify results. What is the mean age per class?

In [ ]:
# using groupby function with aggregation
# to get mean, min and max values
result = titanic.groupby('Pclass').agg({'Age': ['mean', 'min', 'max']})
  
print("Mean, min, and max values of Survived grouped by Pclass")
print(result)

Filling Null values for age

In [ ]:
# replacing na values in college with No college
#titanic["Age"].fillna("37", inplace = True)

titanic.Age = np.where(titanic.Pclass==1, titanic["Age"].fillna("38"), titanic.Age)
titanic.Age = np.where(titanic.Pclass==2, titanic["Age"].fillna("30"), titanic.Age)
titanic.Age = np.where(titanic.Pclass==3, titanic["Age"].fillna("25"), titanic.Age)

In [ ]:
titanic.isnull().sum()

##6. CATEGORICAL DATA

We will want to keep the categorical features that can be reasonably encoded and have intrinsic
value. Which categorical feature have you already observed to be highly correlated with
Survival? _______ . Encode that one.

From above data we can analyze that

The Embarked feature has only 2 missing values, which can easily be filled.

1. 'Age' feature, which has 175 missing values.which is filled using the mean value of Pclass.
2. The ‘Cabin’ feature needs further investigation, but it looks like that we might want to drop it from the dataset, since 77 % of it are missing. and that doesnt count for surrival prediction so decided to drop the column

Also, Looking at the titanic data The features contribute to a high survival rate are everything except ‘PassengerId’, ‘Ticket’ and ‘Name’.

Lets drop the column which are not contributing to high surrival rate

In [ ]:
titanic_old =titanic
# Drop the columns
titanic = titanic.drop([ 'Name', 'Ticket', 'Cabin','PassengerId','Age_bin','Deck'], axis=1)

#Remove the rows with missing values
titanic = titanic.dropna(subset =['Embarked'])

In [ ]:
#Count the NEW number of rows and columns in the data set
titanic.shape

In [ ]:
titanic.head(6)

In [ ]:
#Print the unique values in the columns
print(titanic['Sex'].unique())
print(titanic['Embarked'].unique())

Encoding categorical data values (Transforming object data types to integers)

In [ ]:
#Print the NEW unique values in the columns
print(titanic['Sex'].unique())
print(titanic['Embarked'].unique())

Label Encoding 
Encoding categorical data values (Transforming object data types to integers)

In [ ]:
#Encoding categorical data values (Transforming object data types to integers)
labelencoder = LabelEncoder()

titanic.iloc[:,2]= labelencoder.fit_transform(titanic.iloc[:,2].values) #Encode sex column
titanic.iloc[:,7]= labelencoder.fit_transform(titanic.iloc[:,7].values) #Encode embarked

#Print the NEW unique values in the columns
print(titanic['Sex'].unique())
print(titanic['Embarked'].unique())

#SECTION 3 – MODELING

##TRAIN-TEST SPLIT

In [ ]:
#TRAIN-TEST SPLIT

#Split the data into independent 'X' and dependent 'Y' variables
X = titanic.iloc[:, 1:8].values 
Y = titanic.iloc[:, 0].values 

# Split the dataset into 80% Training set and 20% Testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, 
                                                    random_state = 6, shuffle=True)

##LOGISTIC REGRESSION

Create a LOGISTIC REGRESSION classifier, (you may need to modify max_iter). What is
your training score? test score? 


Modified maxtire from defalut value 100 to 24

In [ ]:
#Using Logistic Regression Algorithm to the Training Set
log = LogisticRegression(random_state = 0, max_iter=24)
log.fit(X_train, Y_train)
print('Logistic Regression Training Accuracy:', log.score(X_train, Y_train))
print('Logistic Regression Testing Accuracy:', log.score(X_test, Y_test))

Evaluate the results of this model using classification_report. What additional insight can you
glean from the report about the two classes?

In [ ]:
# Constructing the confusion matrix.
cm = confusion_matrix(Y_test, log.predict(X_test)) 
print('Confusion Matrix :\n', cm)
TN, FP, FN, TP = confusion_matrix(Y_test, log.predict(X_test)).ravel()
print('Logistic Regression Testing Accuracy = '  ,(TP + TN) / (TP + TN + FN + FP))

Evaluate the results of this model using confusion_matrix. How many True-Negatives (NonSurvivors) did your model correctly identify? _______. How many actual Non-Survivors were
there? _______. That ratio represents what metric from the classification_report?

In [ ]:
# Predictions and Evaluations
# Now predict values for the testing data.
predictions = log.predict(X_test)

# Create a classification report and confusion matrix for the model.

print ('Classification Report : \n',classification_report(Y_test,predictions))

# End

In [ ]:
print ('Confusion Matrix : \n',confusion_matrix(Y_test,predictions))

##MULTI-LAYER PERCEPTRON

Create a MULTI-LAYER PERCEPTRON (Neural Network), (you may need to modify
max_iter). What is your training score? test score?

In [ ]:
#mlp_classifier = MLPClassifier(hidden_layer_sizes=(100,75,50), max_iter=300,activation = 'relu',
#                               solver='adam',random_state=1,shuffle=True)

mlp_classifier = MLPClassifier(random_state=1,shuffle=True)

mlp_classifier.fit(X_train, Y_train)
mlp_classifier.fit(X_train, Y_train)

print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_test, Y_test))

Now change the hidden_layer_sizes from the default to [30,30], and refit & score. What are the
new scores on training? testing?

In [ ]:
mlp_classifier = MLPClassifier(hidden_layer_sizes=(30,30),random_state=1,shuffle=True)

mlp_classifier.fit(X_train, Y_train)
mlp_classifier.fit(X_train, Y_train)

print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_test, Y_test))

How many layers are in your model for b?  Was there improvement?
No Improvement in score

In [ ]:

# Constructing the confusion matrix.
cm = confusion_matrix(Y_test, mlp_classifier.predict(X_test)) 
print('Confusion Matrix :\n', cm)
TN, FP, FN, TP = confusion_matrix(Y_test, mlp_classifier.predict(X_test)).ravel()
print('MLP Classifier Testing Accuracy = '  ,(TP + TN) / (TP + TN + FN + FP))

#SECTION 4 - MODEL SELECTION

MLP MODEL SEARCH & SELECTION – try a variety of methods from below, to improve upon
your MLP model, creating a model that generalizes well and takes advantage of the entire dataset for
model selection. COMMENT your CODE

##Scaling

In [ ]:
#Feature Scaling

sc = StandardScaler()
# calling fit and transform in sequence (using method chaining)
X_train = sc.fit_transform(X_train)
# same result, but more efficient computation
X_test = sc.transform(X_test)

In [ ]:
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)

mlp_classifier.fit(X_train, Y_train)
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_test, Y_test))

Accuricy is increased after default Feature Scaling

##Architectural options

##Algorithm options

##Cross validation

Cross-Validation in scikit-learn

In [342]:
from sklearn.model_selection import cross_val_score
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y)

print("Cross-Validation in scikit-learn")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Cross-Validation in scikit-learn
76.64 accuracy with a standard deviation of 3.32

In [343]:
from sklearn.model_selection import cross_validate
res = cross_validate(mlp_classifier, X, Y, cv=5,
                     return_train_score=True)
display(res)

{'fit_time': array([0.85511589, 0.81856441, 0.84038448, 0.84340596, 0.86357665]),
 'score_time': array([0.00104594, 0.00106525, 0.00096083, 0.00107455, 0.0012784 ]),
 'test_score': array([0.76836158, 0.79096045, 0.80681818, 0.75568182, 0.71022727]),
 'train_score': array([0.84113475, 0.81985816, 0.82719547, 0.83994334, 0.82436261])}

In [344]:
res_df = pd.DataFrame(res)
display(res_df)
print("Mean times and scores:\n", res_df.mean())

   fit_time  score_time  test_score  train_score
0  0.855116    0.001046    0.768362     0.841135
1  0.818564    0.001065    0.790960     0.819858
2  0.840384    0.000961    0.806818     0.827195
3  0.843406    0.001075    0.755682     0.839943
4  0.863577    0.001278    0.710227     0.824363

Mean times and scores:
 fit_time       0.844209
score_time     0.001085
test_score     0.766410
train_score    0.830499
dtype: float64

Stratified K-Fold cross-validation and other strategies

In [345]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=5)
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y, cv=kfold)

print("Cross-Validation with n_splits= 5")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Cross-Validation with n_splits= 5
77.89 accuracy with a standard deviation of 6.24

In [346]:
kfold = KFold(n_splits=3)
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y, cv=kfold)

print("Cross-Validation with n_splits= 3")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Cross-Validation with n_splits= 3
79.37 accuracy with a standard deviation of 1.97

In [347]:
kfold = KFold(n_splits=3, shuffle=True, random_state=1)
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y, cv=kfold)

print("Cross-Validation with n_splits= 3")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Cross-Validation with n_splits= 3
80.50 accuracy with a standard deviation of 1.12

Leave-one-out cross-validation

In [ ]:

from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()

mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y, cv=loo)

print("Cross-Validation with LeaveOneOut")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Shuffle-split cross-validation

In [ ]:

from sklearn.model_selection import ShuffleSplit
shuffle_split = ShuffleSplit(test_size=.5, train_size=.5, n_splits=10)
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
scores = cross_val_score(mlp_classifier, X, Y, cv=shuffle_split)

print("Cross-Validation with ShuffleSplit")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

Cross-validation with groups

In [ ]:
from sklearn.model_selection import GroupKFold
from sklearn.datasets import make_blobs

# create synthetic dataset
X_groupKfold, y_groupKfold = make_blobs(n_samples=12, random_state=0)
mlp_classifier = MLPClassifier(random_state=1,shuffle=True)
groups = [0, 0, 0, 1, 1, 1, 1, 2, 2, 3, 3, 3]
scores = cross_val_score(mlp_classifier, X_groupKfold, y_groupKfold, 
                         groups=groups, cv=GroupKFold(n_splits=3))

print("Cross-Validation with ShuffleSplit")
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean()*100, scores.std()*100))

##Grid Search

Simple Grid Search

In [ ]:
parameter_space = {
    'hidden_layer_sizes': [(100,75,50), (50,100,50), (150,100,50)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
    'max_iter' : [100,300,50]
}
mlp = MLPClassifier()
grid_mlp = GridSearchCV(mlp, parameter_space, n_jobs=-1, cv=3)
grid_mlp.fit(X_train, Y_train)
print(f'Best params: {grid_mlp.best_params_}')
print(f'Best score: {grid_mlp.best_score_}')

In [ ]:
mlp_classifier = MLPClassifier(random_state=1,shuffle=True,activation='tanh', alpha= 0.0001, 
                               hidden_layer_sizes = (50, 100, 50), learning_rate='adaptive', max_iter= 100,
                               solver = 'adam')

mlp_classifier.fit(X_train, Y_train)
mlp_classifier.fit(X_test, Y_test)
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Testing Accuracy:', mlp_classifier.score(X_test, Y_test))

Grid Search with Cross-Validation

In [ ]:
best_score = 0
for max_iter in [ 1, 10, 100]:
    for hidden_layer_sizes in [(100,75,50), (50,100,50), (150,100,50)]:
        # for each combination of parameters,
        # train an MLPClassifier
        mpl_classifier = MLPClassifier(max_iter=max_iter, hidden_layer_sizes=hidden_layer_sizes)
        # perform cross-validation
        scores = cross_val_score(mpl_classifier, X_train, Y_train, cv=5)
        # compute mean cross-validation accuracy
        score = np.mean(scores)
        # if we got a better score, store the score and parameters
        if score > best_score:
            best_score = score
            best_parameters = {'max_iter': max_iter, 'hidden_layer_sizes': hidden_layer_sizes}
# rebuild a model on the combined training and validation set
mpl_classifier = MLPClassifier(**best_parameters)
mpl_classifier.fit(X_train, Y_train)
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Testing Accuracy:', mlp_classifier.score(X_test, Y_test))

##Common hyperparameter options

In [ ]:
mlp_classifier = MLPClassifier(hidden_layer_sizes=(100,75,50), max_iter=300,activation = 'relu',
                               solver='adam',random_state=1,shuffle=True)
mlp_classifier.fit(X_train, Y_train)
mlp_classifier.fit(X_test, Y_test)

print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_train, Y_train))
print('MLP Classifier Training Accuracy:', mlp_classifier.score(X_test, Y_test))

##Further Feature Engineering or alternative encoding

**Label Encoding**

It is used to transform non-numerical labels to numerical labels (or nominal categorical variables). Numerical labels are always between 0 and n_classes-1.

In [ ]:
#Encoding categorical data values (Transforming object data types to integers)
labelencoder = LabelEncoder()
print ('Before')
print(titanic_old['Sex'].unique())
print(titanic_old['Embarked'].unique())

titanic_old.iloc[:,2]= labelencoder.fit_transform(titanic_old.iloc[:,2].values) #Encode sex column
titanic_old.iloc[:,7]= labelencoder.fit_transform(titanic_old.iloc[:,7].values) #Encode embarked

print ('After')
#Print the NEW unique values in the columns
print(titanic_old['Sex'].unique())
print(titanic_old['Embarked'].unique())

**Correlation between features**
Non-graphical method : This correlation matrix is to understand the strength between variables. Correlation varies between -1 and +1.

-1: Perfect negative linear correlation

+1: Perfect positive linear correlation

0: No correlation

Generally, if the correlation between the two independent variables are high (>= 0.8) then we drop one independent variable otherwise it may lead to multi collinearity problem as both of them contains almost the same information.

So do you think we should use both of them as one of them is redundant. While making or training models, we should try to eliminate redundant features as it reduces training time and many such advantages.

In [ ]:

sns.heatmap(titanic_old.corr(),annot=True,cmap='RdYlGn',linewidths=0.2) #data.corr()-->correlation matrix
fig=plt.gcf()
fig.set_size_inches(10,8)
plt.show()

**One Hot Encoding**
One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

Suppose we have Sex classes as 'male' and 'female'. One hot encoding will create two columns 'Sex_male' and 'Sex_female' and store the values as binary.

In [ ]:
 titanic_encoding= titanic_old.drop([ 'SibSp','Age','Name','Pclass', 'Fare','Parch','Ticket', 'Cabin','PassengerId','Age_bin','Deck'], axis=1)

#Remove the rows with missing values
titanic_encoding = titanic_old.dropna(subset =['Embarked'])

one_hot_encoded_training_predictors = pd.get_dummies(titanic_encoding)

Check Correlation after One hot encoding.

In [ ]:
sns.heatmap(one_hot_encoded_training_predictors.corr(),annot=True,cmap='RdYlGn',linewidths=0.2) #data.corr()-->correlation matrix
fig=plt.gcf()
fig.set_size_inches(10,8)
plt.show()